:host {
  display: flex;
  justify-content: flex-start;
  margin: 0 auto 24px auto;
  padding: 0 32px;
}

.create-note-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  padding: 4px 8px;
  display: flex;
  flex-direction: column;
  width: 100% !important;
  max-width: 800px;
  transition: box-shadow 0.2s ease-in-out, height 0.3s ease;
  overflow: hidden;
}

.create-note-card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.create-note-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 280px;

}

.note-input {
  color: #3c4043;
  font-weight: 400;
  opacity: 1;
  cursor: text;
  flex: 1;
  font-size: 16px;
  border: none;
  outline: none;
  padding: 6px 8px;
  background: transparent;
  //gap: 16px
}

.expanded-note input.note-title {
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  color: #202124;
  width: 100%;
  margin-bottom: 8px;
  background-color: transparent;
}

.expanded-note textarea.note-content {
  border: none;
  outline: none;
  resize: none;
  font-size: 14px;
  color: #202124;
  width: 100%;
  min-height: 60px;
  background-color: transparent;
}

.note-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
  border-top: 1px solid #e0e0e0;
  padding-top: 8px;
}

.action-icons {
  display: flex;
  gap: 10px;
  align-items: center;
}

.action-icons button {
  background: none;
  border: none;
  padding: 6px;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.2s;

  &:hover {
    background-color: rgba(60, 64, 67, 0.08); // slightly lighter hover
  }

  mat-icon {
    color: #5f6368;
    font-size: 22px;
  }
}

.close-btn {
  background: none;
  border: none;
  color: #5f6368;
  font-weight: 500;
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: #f1f3f4;
  }
}



// @media (max-width: 768px) {
//   :host {
//     padding: 0 8px;  // smaller side padding on mobile
//   }

//   .create-note-card {
//     max-width: 100%; // allow full width on smaller screens
//   }
// }
